{% extends 'base.html.twig' %}

{% block body %}

    <section>
        <h2>Gigs</h2>
        {% for gig in gigs %}
            <div class="gig">
                <time class="gig__time">
                    {{ gig.date | date("D jS M Y") }}
                </time>

                <div class="gig__details">
                    {{ gig.prefix }}
                    {% if gig.webLink %}
                        <a href="{{ gig.webLink }}"> {{gig.name}}</a>
                    {% else %}
                        {{gig.name}}
                    {% endif %}
                </div>

                <div class="gig__venue">
                    {{ gig.venue }}
                </div>
            </div>
        {% else %}
            <p>
        There are currently no gigs lined up, why not <a href="/contact">book us</a>
            </p>
        {% endfor %}
    </section>

{% endblock %}

